<div class="container">
  <div class="box-shadow color-dark rcornersupper">
    <h1 style="text-align: center">About FoodBook</h1>
  </div>


  <div>
    <div class="color-light rcornerslower box-shadow">

      <div class="text">
        <p>Project created as part of the course Programming Webowysh SPA Applications</p>

        <p>FoodBook is designed to assist users in choosing breakfast, lunch, dinner or dessert to prepare.
                     On the site you can select the products that you have in your fridge, and the application is to choose the recipe that
                     it will mostly coincide with the products it provides. Registered user can add recipes to favorites.</p>
      </div>

        <ul style="list-style-type:circle">
          The application uses HTML, CSS, Angular5 and TypeScript. The scope of material covered by the project:
          <li>Saving products added to the fridge in cookies.</li>
          <li>Searching for recipes using the Edamam's Recipe Search API.</li>
          <li>Connection to the real-time firebase database and data display.</li>
          <li>Login and registration using firebase.</li>
          <li>The possibility of registration using social media.</li>
          <li>Full application responsiveness.</li>
          <li>Bootstrap application.</li>
          <li>Generating a graph using billboard.js.</li>
        </ul>
        <br><br>

    </div>
  </div>
</div>
