<div class="container">
  <div class="color-light home rcorners box-shadow">

    <div class="container gap">
        <!-- <div>
            <h2><b>Welcome to FoodBook! </b></h2>
            <br>
        </div> -->
      <p><b>Need some help deciding what to eat?</b></p>
      <p>You can put all of the products you have in your fridge and we will find matching recipes for you!</p>
      <p> Optimise your food expenses and get free recipes.</p>
      <br>
      <a routerLink="search">
          <input type="submit" style="font-weight: bold;" class="btn" value="TEST NOW">
          </a>
    </div>

  <div class="column3 textCenter">
    <div>
      <img src="assets/images/fork.png" class=" icon">
      <p class="above1000px"><b>Find matching recipes</b> <br>
      You can easily find matching recipes based on the ingredients you have.</p>
      <p>
      </p>
    </div>
    <div>
      <img src="assets/images/bar.png" class="img-fluid mx-auto icon" alt="Responsive image">
      <p class="above1000px"><b>Menu creator</b> <br>
      You can create your own menu by adding recipes to favourites.</p>
    </div>
    <div>
      <img src="assets/images/best.png" class="img-fluid mx-auto icon" alt="Responsive image">
      <p class="above1000px"><b>Best choice</b> <br>
      Using our statistics chart you can choose recipe with suitable amount of calories.</p>
    </div>
  </div>


  <div>
  </div>
</div>
